/* Estilos generales del contenedor de productos */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre los elementos */
    justify-content: center; /* Centra los elementos */
    margin-top: 20px; /* Espacio superior */
}

/* Estilos para el mensaje de "productos no encontrados" */
.product-not-found {
    /* Aquí se pueden agregar estilos si es necesario */
}

/* Estilos para el contenedor principal del producto */
.product-main { 
    padding-top: 100px; /* Espacio superior */
    padding-bottom: 100px; /* Espacio inferior */
    width: 90%; /* Ancho al 90% del contenedor */
    margin: 0 auto; /* Centrado horizontal */
}

/* Estilos para los títulos de la categoría */
.product-titles {
    display: flex;
    padding-bottom: 30px; /* Espacio debajo del título */
    text-align: center; /* Centrado del texto */
    border-bottom: #ff000091 dashed 2px; /* Línea de separación */
    flex-direction: column; /* Organiza los elementos en columna */
    gap: 20px; /* Espacio entre los elementos */
}

/* Estilos para la tarjeta de información del producto */
.product-info {
    display: block; /* Bloque por defecto */
    max-width: 250px; /* Limita el tamaño máximo */
    border: 1px solid #ccc; /* Borde gris claro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    border-radius: 4px; /* Bordes redondeados */
    padding: 16px; /* Espacio dentro del elemento */
    background-color: #fff; /* Fondo blanco */
    flex: 1 1 calc(20% - 16px); /* Flexbox para una distribución adaptable */
}

/* Estilos para el título de la categoría con ícono */
.category-title {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: center; /* Centra los elementos */
    font-size: 1.8rem; /* Tamaño de fuente grande */
    gap: 20px; /* Espacio entre el ícono y el texto */
}

/* Estilos para el ícono de la categoría */
.category-icon {
    width: 80px; /* Ancho del ícono */
    height: 80px; /* Alto del ícono */
    object-fit: cover; /* Escala la imagen para cubrir el área */
    border-radius: 50%; /* Hace la imagen circular */
}

/* Estilos para la descripción de la categoría */
.category-description {
    font-weight: 700; /* Fuente en negrita */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .page-btn {
    margin: 0 5px;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #ff000f;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .page-btn:hover {
    background-color: #c0392b;
  }
  
  .page-btn.active {
    background-color: #c0392b;
    font-weight: bold;
  }